<html>
    <head>
        <title>otto the taxonomy tool</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>

        <div id="app">
            <div id="header">
                <div class="topnav">
                    <a class="active" href="#home">{{ title }}</a>  
                    <a href="#signin">Sign In</a>
                    <a href="#signup">Sign Up</a>
                    <a href="#contact">Contact</a>
                    <a href="#blog">Blog</a>
                    <a href="#about">About</a>
                </div>
            </div>

            <!-- hero -->
            <div class="hero">
                <h2>{{ tagline }}</h2>
            </div>

            <div class="topnav" id="btm">
                <a href="#getting-started">Quick Start</a>
            </div>

            <h3>{{ description }}</h3>      
            
            <!-- "sign up" / demo -->
            <div class="content-block">

                <div id="sign-up">
                    <h2>sign up</h2>
                    <p>
                        First name
                        <input type="text" v-model="nameF">
                    </p>
                    <p>
                        Last name
                        <input type="text" v-model="nameL">
                    </p>
                    <p>
                        Username
                        <input type="text" v-model="username">
                    </p>
                    <p>Hi, {{ nameF }}! We're glad you're here.</p> <!-- should append / should update throughout files -->
                    <button type="submit">sign me up</button>
                    
                </div> <!-- end inner div -->
                <p>or</p>
                <div id="sign-in">
                    <p>{{ greet() }}</p>
                    <input type="text" :value="username">
                    <input type="text" :value="password">
                    <button type="submit">sign me in</button>
                </div> <!-- end inner div -->
                
            </div> <!-- end outer div -->

            <div id="getting-started" class="content-block">
                <!-- content -->
                <p>What would you like to do?</p>
                <a href="#create"><button>Create a new taxonomy</button></a> <!-- should append/appear -->
                <a href="#edit"><button>Edit an existing taxonomy</button></a> <!-- should append/appear -->
                <p><a :href="top">Go back</a></p>
                <p><a :href="top">Top</a></p>
            </div>

            <!-- Create a new taxonomy -->
            <div id="create" class="content-block">
                <h2>Create a new taxonomy</h2>            
                <p>OK! How?</p>
                <ul>
                    <li><a href="#typein">Type in OTTO directly</a></li>
                    <li><a href="#import">Import from a file</a></li> <!-- ? -->
                    <li><a href="#scrape">Scrape from a site</a></li> <!-- ? -->
                </ul>
                <p><a :href="backToGettingStarted">Go back</a></p>
                <p><a :href="top">Top</a></p>
            </div>

            <!-- Create a new taxonomy - typein -->
            <div id="typein" class="content-block">
                <h2>Type in OTTO directly</h2>
                
                <!-- just play with vue! -->
                <p>How many labels do you have?</p>
                <button v-on:click="changeNumberOfLabels(1)">+1</button>
                <button v-on:click="changeNumberOfLabels(-1)">-1</button>
                <button v-on:click="changeNumberOfLabels(10)">+10</button>
                <button v-on:click="changeNumberOfLabels(-10)">-10</button>
                
                <p>Does this include categories?</p>
                <button @click="toggleY">yes</button>
                <button @click="toggleN">no</button>
                
                <p>{{ numberOfLabels }} labels
                    <p v-if="includesCategories">including categories</p>
                    <p v-else-if="doesNotIncludeCategories">not including categories</p>
                </p>
                <button v-on:dblclick="confirm()">Double-click to confirm</button>
                
                <!-- where the magic happens - add CATEGORIES and labels -->
                <input class="typein-input" v-on:keyup.enter="addCategory">add <div class="chip cat mock-chip">category</div>
                <input class="typein-input" v-on:keyup.enter="addLabel">add <div class="chip lab mock-chip">label</div>
                
                <!-- display -->
                <!-- CATEGORIES -->
                <h2>Your categories:</h2>
                <ul class="typein-list">
                    <li class="chip cat" v-for="(category, index) in categories">{{ index + 1 }}. {{ category }} <span class="closebtn" v-on:click="categories.splice(index, 1)">&times;</span></li>
                </ul>
                <!-- labels -->
                <h2>Your labels:</h2>
                <ul class="typein-list">
                    <li class="chip lab" v-for="(label, index) in labels">{{ index + 1 }}. {{ label }} <span class="closebtn" v-on:click="labels.splice(index, 1)">&times;</span></li>
                 </ul>

                <!-- navigation -->
                <p><a :href="backToCreate">Go back</a></p>
                <p><a :href="top">Top</a></p>
            </div>

            <div id="import" class="content-block">
                <h2>Import from a file</h2>            
                <p>{{ apology }}</p>
                <p><a :href="backToCreate">Go back</a></p>
                <p><a :href="top">Top</a></p>
            </div>

            <div id="scrape" class="content-block">
                <h2>Scrape from a site</h2>            
                <p>{{ apology }}</p>
                <p><a :href="backToCreate">Go back</a></p>
                <p><a :href="top">Top</a></p>
            </div>

            <!-- Edit an existing taxonomy -->
            <div id="edit" class="content-block">
                <h2>Edit an existing taxonomy</h2>            
                <p>{{ apology }}</p>
                <p><a :href="backToGettingStarted">Go back</a></p>
                <p><a :href="top">Top</a></p>
            </div>
            
            <!-- SUNDRY DEBRIS -->
            <hr>
            <!-- binding to element the value of property called url -->
            <h2>bind a url</h2>
            <p>
                <a :href="url">What is Information Architecture? | IA Institute</a> <!-- : = shorthand for v-bind: -->
            </p>
            <hr>
            <!-- binding to element the value of property called classes -->
            <h2>bind a class</h2>
            <div :class="classes">Classes from Instance</div>
            <hr>
            <!-- logging event info to console to view available event properties -->
            <h2>log event info</h2>
            <p>
                <button @click="logEvent">Log Event Info</button>
                <p>inspect console</p>
            </p>
            <hr>
            <!-- creating a timer button -->
            <h2>play a game</h2>
            <p>Press the start the clock button, then try to find the exact middle of the canvas within three seconds.</p>
            <button @click="startTimer">Start the Clock</button>
            
            <!-- creating a canvas to view mouse position - offsetX and offsetY may be useful for drag and drop -->
            <div class="canvas" @mousemove="logCoords">{{ coords.x }}, {{ coords.y }}</div>
            <hr>

            <!-- event modifier - keys -->
            <button v-on:click.ctrl="confirm()">ctrl-click to confirm</button>
            <!-- event modifier - pure -->
            <a href="http://www.google.com" @click.prevent="confirm()">click this link to confirm and not go to google</a>
            <hr>

            <!-- go back to top -->
            <p><a :href="top">Top</a></p>

        </div> <!-- end #app-->

        <script src="app.js"></script>
    </body>
</html>

<!-- v-bind: (or just :) -->
    <!-- bind vue object > property > value -->
<!-- v-on: (or just @) -->
    <!-- event e.g. click -->
        <!-- click -->
        <!-- mousemove -->